@page
@model IdentityService.Pages.Account.Register.Index

<div>
    <partial name="_ValidationSummary" />
    
    <div class="row">
        <div class="col-6 offset-3">
            
            12341`-+
            .69*
        </div>
    </div>
</div>